<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Drugstore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <h1><%= @drug.name %></h1>
  <%= link_to "Back to drugs", root_path %>
  <%= link_to "Delete", @drug, :method => :delete %>
  <br>
  <%= cl_image_tag @drug.photo, height: 300, width: 400, crop: :fill %>

<div class="row">
  <div class="col-sm-12">
    <h3>Drug</h3>
    <table class="table table-bordered">
      <tbody>
        <thead>
          <th> <%= @drug.name %> </th>
          <th> <%= @drug.content %> </th>
          <th> <%= @drug.price %> </th>
        </thead>
      </tbody>
    </table>
  </div>
</div>

<h3>Reviews</h3>
<% if @drug.reviews.empty? %>
  <p>Be the first to let a review</p>
<% else %>
  <ul class="list-group">
    <% @drug.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= review.content %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render "reviews/new", drug: @drug, review: @review %>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

