<div class="main-container">
  <div class="card-product">
    <img><%= cl_image_tag @drug.photo, height: 300, width: 400, crop: :fill%></img>
    <div class="card-product-infos">
      <h2><%= @drug.name %></h2>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <tr>
          <th>Drug</th>
          <th>Description</th>
          <th>Price in euros</th>
        </tr>
        <tr>
          <td><%= @drug.name %></td>
          <td><%= @drug.content %></td>
          <td><%= @drug.price %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="reviews-container">
    <% if @drug.reviews.empty? %>
    <% else %>
      <ul class="list-group">
        <% @drug.reviews.each do |review| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= review.content %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= render "reviews/new", drug: @drug, review: @review %>
  </div>

  <div class="container-options">
    <span><button type="button" class="btn btn-light btn-block"><%= link_to "Back to drugs", root_path %></button></span>
    <span><button type="button" class="btn btn-light btn-block"><%= link_to "Delete", @drug, :method => :delete %></button></span>
  </div>
</div>
